var
vendor/rabbitmq-3.2.0/etc/rabbitmq/*
vendor/rabbitmq-3.2.0/var/lib/rabbitmq/mnesia/*

vendor/rabbitmq-3.2.0-mac/etc/rabbitmq/*
vendor/rabbitmq-3.2.0-mac/var/lib/rabbitmq/mnesia/*

temp
node_modules
npm-debug.log
*.dump

.svn
.idea
.idea/workspace.xml
.DS_Store
.dynamic/*
.dynamic/.
.Trashes
*.sublime-project
*.sublime-workspace

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.\#*
*#
ssl
*~
.idea
nbproject
.waterline
